@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8fafc;
    --background: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  
  .glass-dark {
    @apply bg-slate-900/70 backdrop-blur-lg border border-slate-700/30 shadow-xl;
  }
}
